* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    color: white;
}

ul {
    list-style: none;
}

h3.title {
    color: #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: center;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin: 40px auto;
}

/* --------------
HEADER CODE START
-----------------*/
header{
    background-color: rgba(0,0,0,.7);
}


/* --------------
HEADER CODE END
-----------------*/


/* --------------
CONTENT CODE START
-----------------*/

#content {
    background: gray;
    color: white;
    text-align: center;
    /* Horizontal and vertical centering in the parent container*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Folkecenter_aerial%20picture.jpg);
    /* used so the background image doesn't repeat over and over again*/
    background-repeat: no-repeat;
    /* background size cover gives the image responsivness*/
    background-size: cover;
    min-height: 100vh;
}

#content h1,
#content h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}

#content h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

#content a.btn {
    color: white;
    background-color: #131633;
    /* text-decoration none removes the underline*/
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border: 2px solid white;

}

#content a.btn:hover {
    background-color: #2196f3;
}


@media(max-width:800px) {
    #content {
        min-height: 600px;
    }

    #content h1 {
        font-size: 36px;
    }

    #content h3 {
        font-size: 18px;
    }

    #content a.btn {

        padding: 15px 40px;
    }
}



/* --------------
CONTENT CODE END
-----------------*/

#about {
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

#about #two-cols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-img {
    background-color: #f7f7f7;
}

.about-bio {
    width: 75%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;
}

@media(max-width:600px) {
    #about,
    #two-cols {
        flex-direction: column;
    }

    .about-bio {
        margin-top: 20px;
        line-height: 1.5;
        text-align: left;

    }
}


/* --------------
ABOUT CODE START
-----------------*/

h3.title {
    color: #131633;
    text-transform: capitalize;
    font-size: 32;
    margin-bottom: 35px;
    text-align: center;
}


/* --------------
ABOUT CODE END
-----------------*/

#activities {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}


#activities ul.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;

}

#activities p {
    margin-bottom: 20px;
}

#activities ul.grid li {
    flex-basis: 30%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.ico {
    font-size: 60px;
    color: #2196f3;
    margin-bottom: 20px;
}


/* --------------
GALLERY CODE START
-----------------*/

#gallery {
    background-color: #fff;

}

#gallery .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    /* clips the pictures so they are inside the content box*/
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

#gallery ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery .grid li.small {
    flex-basis: 45%;
}

#gallery .grid li.large {
    flex-basis: 55%;
}

#gallery p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 35px;
    padding: 0 20px;
    line-height: 2;
}

@media(max-width:1000px) {
    #gallery .grid li.small,
    #gallery .grid li.large {
        flex-basis: 100%;
    }
}


/* --------------
GALLERY CODE END
-----------------*/

/* --------------
ACTIVITIES CODE START
-----------------*/

#activities {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}


#activities ul.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;

}

#activities p {
    margin-bottom: 20px;
}

#activities ul.grid li {
    flex-basis: 30%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.ico {
    font-size: 60px;
    color: #2196f3;
    margin-bottom: 20px;
}

#activities ul.grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

#activities ul.grid li p {
    text-align: left;
    margin: 0;
}

@media(max-width: 1000px) {
    #activities {
        padding: 0 40px;
    }

    #activities ul.grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    #activities ul.grid li p {
        text-align: center;
    }
}


/* --------------
ACTIVITIES CODE END
-----------------*/

/* --------------
QUOTES CODE START
-----------------*/

#quotes {
    background-color: #fafafa;
    padding-bottom: 40px;
    text-align: center;
}

#quotes .portrait-photos {
    border-radius: 50%;
    border: 4px solid #2196f3;
    margin-bottom: 10px;
}

/* first-child is a pseudo-selector that selects the first child of the parent container*/

#quotes .portrait-photos:first-child {
    margin-top: 20px;
}

#quotes .quote {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

#quotes .author {
    margin: 20px auto;
}

/* first-child is a pseudo-selector that selects the last child of the parent container*/

#quotes .author:last-child {
    margin-bottom: 0;
}

@media(max-width:1000px) {
    #quotes .quote {
        font-size: 18px;
        padding: 0 20px;
    }
    #quotes .author {
        font-size: 14px;
    }
}


/* --------------
QUOTES CODE END
-----------------*/

/* --------------
CONTACT CODE START
-----------------*/

section.flexbox-section{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.flexbox-section p{
    max-width: 900px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 1.5;
}



/* --------------
CONTACT CODE END
-----------------*/


/* --------------
FOOTER CODE START
-----------------*/

footer {
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #284e7a, #000 100%);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

@media(max-width: 800px) {
    footer {
        padding: 80px 15px;
    }
}

/* --------------
FOOTER CODE END
-----------------*/
